*
!/turbo.json
!/package-lock.json
!/package.json
!/packages/backend/index.mjs
!/packages/backend/start.mjs
!/packages/backend/lib
!/packages/backend/package.json
!/packages/tal-eval/package.json
!/packages/tal-eval/src
!/packages/tal-eval/tsconfig.json
!/packages/tal-parser/package.json
!/packages/tal-parser/scripts
!/packages/tal-parser/src
!/packages/tal-parser/tsconfig.json
!/packages/tal-stdlib/package.json
!/packages/tal-stdlib/src
!/packages/tal-stdlib/tsconfig.json
!/packages/web-client/index.html
!/packages/web-client/package.json
!/packages/web-client/public
!/packages/web-client/src
!/packages/web-client/tsconfig.app.json
!/packages/web-client/tsconfig.json
!/packages/web-client/tsconfig.node.json
!/packages/web-client/vite.config.ts
