*
!/nx.json
!/packages/backend/lib
!/packages/backend/index.js
!/packages/backend/package.json
!/packages/web-client/public
!/packages/web-client/src
!/packages/web-client/tsconfig.json
!/packages/web-client/package.json
!/packages/tal-parser/src
!/packages/tal-parser/scripts
!/packages/tal-parser/tsconfig.json
!/packages/tal-parser/package.json
!/packages/tal-eval/src
!/packages/tal-eval/tsconfig.json
!/packages/tal-eval/package.json
!/packages/tal-stdlib/src
!/packages/tal-stdlib/tsconfig.json
!/packages/tal-stdlib/package.json
!/package.json
!/package-lock.json
