*
!/turbo.json
!/package-lock.json
!/package.json
!/packages/*/package.json
!/packages/*/src
!/packages/*/tsconfig.json
!/packages/*/vite.config.ts
!/packages/backend/index.mjs
!/packages/backend/start.mjs
!/packages/backend/lib
!/packages/tal-parser/scripts
!/packages/web-client/index.html
!/packages/web-client/public
!/packages/web-client/tsconfig.app.json
!/packages/web-client/tsconfig.node.json
