.Button {
  font-family: Proxima Nova Rg;
  font-weight: 800;
  color: rgb(186, 231, 220);

  min-height: 24px;

  border-style: solid;
  border-color: rgb(28, 95, 78);
  border-width: 1px;
  background-color: rgb(28, 179, 141);
}

.Button.secondary {
  border-color: rgb(103, 82, 63);
  background-color: rgb(159, 129, 111);
}

.Button.secondary:active:enabled {
  background-color: rgb(141, 109, 51);
}

.Button:active:enabled {
  background-color: rgb(26, 145, 115);
}

.Button:disabled {
  border-color: rgb(39, 119, 99);
  background-color: rgb(97, 197, 172);
}

.Button.secondary:disabled {
  border-color: rgb(145, 122, 103);
  background-color: rgb(190, 173, 161);
}

.Button.outline {
  background-color: rgb(218, 218, 218);
  color: rgb(27, 158, 125);
}

.Button.outline:disabled {
  background-color: rgb(218, 218, 218);
}

.Button.outline.secondary {
  color: rgb(128, 105, 90);
}

.Button.outline:disabled {
  color: rgb(97, 197, 172);
}

.Button.outline.secondary:disabled {
  color: rgb(190, 173, 161);
}

.Button.outline:active:enabled,
.Button.outline.secondary:active:enabled {
  color: rgb(186, 231, 220);
}
