.CheckBox {
  height: 24px;
  width: 24px;
  position: relative;
  background-color: white;
  border: var(--toy-box-color-gray-600) 2px solid;
}

.CheckBox > input {
  height: 24px;
  width: 24px;
  opacity: 0;
}

.disabled {
  background-color: var(--toy-box-color-gray-200);
  border: var(--toy-box-color-gray-500) 2px solid;
}

.checkMark {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: var(--toy-box-color-primary-300);
  opacity: 0;
  transition: opacity 100ms linear;
}

.secondary .checkMark {
  background-color: var(--toy-box-color-secondary-300);
}

.disabled .checkMark {
  background-color: var(--toy-box-color-primary-200);
}

.secondary.disabled .checkMark {
  background-color: var(--toy-box-color-secondary-200);
}

.checkMarkInner {
  position: absolute;
  width: 8px;
  height: 14px;
  left: 6px;
  top: 0px;
  border: 2px solid white;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

input:checked + .checkMark {
  opacity: 1;
}
