.CheckBox {
  height: 24px;
  width: 24px;
  position: relative;
  background-color: white;
  border: rgb(73, 73, 73) 2px solid;
}

.CheckBox > input {
  height: 24px;
  width: 24px;
  opacity: 0;
}

.disabled {
  background-color: rgb(240, 240, 240);
  border: rgb(133, 133, 133) 2px solid;
}

.checkMark {
  pointer-events: none;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  background-color: rgb(28, 179, 141);
  opacity: 0;
  transition: opacity 100ms linear;
}

input:checked + .checkMark {
  opacity: 1;
}
