.Modal {
  width: 600px;
  background-color: var(--toy-box-color-gray-300);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ModalFooter {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
