.Radio {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  position: relative;
  background-color: white;
  border: var(--toy-box-color-gray-600) 2px solid;
}

.Radio > input {
  height: 24px;
  width: 24px;
  opacity: 0;
}

.disabled {
  background-color: var(--toy-box-color-gray-200);
  border: var(--toy-box-color-gray-500) 2px solid;
}

.checkMark {
  border-radius: 12px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  background-color: var(--toy-box-color-primary-300);
  opacity: 0;
  transition: opacity 100ms linear;
}

.secondary .checkMark {
  background-color: var(--toy-box-color-secondary-300);
}

.disabled .checkMark {
  background-color: var(--toy-box-color-primary-300);
}

.secondary.disabled .checkMark {
  background-color: var(--toy-box-color-secondary-300);
}

input:checked + .checkMark {
  opacity: 1;
}
