.SwitchContainer {
  position: relative;
  height: 24px;
}

.Switch,
.background {
  width: 44px;
  height: 24px;
}

.Switch {
  opacity: 0;
}

.background {
  pointer-events: none;
  top: 0;
  left: 0;
  background-color: var(--toy-box-color-gray-600);
  transition: background-color 100ms linear;
  border-radius: 12px;
}

.backgroundDisabled {
  background-color: var(--toy-box-color-gray-500);
}

.switch {
  display: block;
  height: 20px;
  width: 20px;
  background-color: white;
  top: 2px;
  left: 2px;
  pointer-events: none;
  transition: transform 100ms linear;
  border-radius: 10px;
}

.switchDisabled {
  background-color: var(--toy-box-color-gray-200);
}

.background,
.switch {
  position: absolute;
}

.Switch:checked + .background {
  background-color: var(--toy-box-color-primary-300);
}

.secondary > .Switch:checked + .background {
  background-color: var(--toy-box-color-secondary-300);
}

.Switch:checked + .backgroundDisabled {
  background-color: var(--toy-box-color-primary-200);
}

.secondary > .Switch:checked + .backgroundDisabled {
  background-color: var(--toy-box-color-secondary-200);
}

.Switch:checked + .background + .switch {
  transform: translateX(20px);
}
