.Text {
  min-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.Text pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  max-height: 200px;
  overflow: hidden;
}
