.directionColumn {
  display: flex;
  flex-direction: column;
}

.directionRow {
  display: flex;
  flex-direction: row;
}

.child > * {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}
