.errorPopinContainer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.errorPopin {
  position: absolute;
  top: 2px;
}

.errorPopinContent {
  background-color: rgb(203, 37, 73);
  color: white;
  padding: 4px 6px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
