.modalBackgroundMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 1;
}

.modalFrame {
  background-color: rgb(218, 218, 218);
  min-width: 50%;
}

.modalBody {
  padding: 8px;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: right;
}
